@font-face {
  font-family: 'Digital-7';
  src: url('fonts/Digital-7.woff2') format('woff2'),
      url('fonts/Digital-7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: #FAFF81;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A5A5A5;
  padding: 40px;
  gap: 40px;
}

.keyboard {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.btn {
  font-size: 50px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  background-color: #7F7F7F;
  border: none;
  cursor: pointer;
  color: #FFF;
  border-radius: 5px;
}

.btn:hover {
  /* box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1); */
  transform: scale(0.95);
}

.mid-keys .btn {
  background-color: black;
}

.clear-key {
  background-color: #A51C30;
}

.left-keys {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100px;
  height: 445px;
  gap: 15px;
}

.mid-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 330px;
  height: 445px;
  gap: 15px;
}

.right-keys {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 215px;
  height: 445px;
  gap: 15px;
}

.add {
  grid-area: 3 / 1 / 5 / 2;
}

.display {
  background-color: #CCCCCC;
  width: 695px;
  padding: 20px 30px;
  font-family: 'Digital-7', sans-serif;
}

.display-content {
  font-size: 100px;
  padding: 10px;
  text-align: right;
  background-color: #7F7F7F;
}

.display-subtext {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.footer {
  font-family: 'Arial', sans-serif;
  font-size: 26px;
  margin-top: 20px;
}